*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}
h1{
    margin: 20px;
}
.container{
    margin: 5px;
    background-color: lightgray;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    width: 700px;
    height: 400px;
}

.divInput{
    margin: 10px;
}
label{
    margin: 10px;
}
.newTask{
    width: 550px;
    height: 30px;
    margin: 10px;
}

.btnTask{
    background-color: green;
    color: white;
    width: 100px;
    height: 30px;
}

.btnTask:hover{
    background-color: teal;
}

.divList{
    display: flex;
    flex-direction: row;
    margin: 4px;
}

.divCounters{
    margin: 10px;
    width: 30%;
}


.divTask{
    margin: 10px;
    width: 70%;
}

ul {
    list-style: none;
  }
  ul span {
    font-weight: bold;
  }

  ul li{
    margin: 15px;
  }
  
  .delete {
    cursor: pointer;
    margin: 15px;
  }

  th{
    margin: 25px;
    padding: 10px;
  }

  td{
    padding: 5px;
  }
